.top {
    border: 2px solid #EA9696;
    margin: 0 auto;
    width: 80%;
}

.content {
    display: flex;        
    gap: 20px;            
    width: 90%;      
    margin-top: 5px;      
}


.head {
    color: #933A44;
    text-shadow: 5px 6px 2px rgba(232, 100, 116, 0.5);
    text-align: center;
}
nav {
    background-color: #EA9696;
    border-top: 2px solid #933A44;
    align-items: center;
    display: flex;
    gap:0px;
    justify-content:center; 
    align-items: center;

}

nav p { 
    margin:5px;
    border-left: 1px solid blue ;
    padding: 5px 30px;
}

nav p:last-child {
    border-right: 1px solid blue;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav img {
    padding-bottom: 5px;
    height: 20px;
}

nav div {
    display: flex;
    border-left: 1px solid blue ;
    padding-left: 20px;
    gap: 3px;
}
.search {
    width: 100%;
}


.side {
    background-color: #EA9696;
    width: 160px;
    border: 0;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 3px 0;
    color: white;
}
.company {
    width: 180px;
    height: 120px;
    border: 0;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 30px;
    box-shadow: 7px 10px 7px rgb(251, 175, 175) ;

}

.shead {
    background-color: #EA9696;
    width: 450px;
    text-align: left;
    color: #933A44;
    font-weight: bold;
    font-size: 28px;
    padding: 2px 15px;
    letter-spacing: 15px;
    margin: 0 auto;
}

main div {
    align-items: center;
    margin: 0;
}

.v {
    color: rgb(181, 6, 6) ;
    text-decoration: underline;
    font-weight: bold;
}

a.v {
    display: inline-block; 
    margin-top: -10px;     
}

.gold {
    color:#a9750e;
    font-weight: bold;
}

form input[type="text"] {
    width: 300px;
    height: 50px;
    padding-left:10px;
    font-size: 16px;         
    margin: 10px 10px;
}

form select {
    width: 295px;
    height: 50px;
    padding: 0 10px;
    font-size: 16px;         
    margin-left: 10px;
    margin-bottom: 10px;
}

form tr td:has(input[type="radio"]) {
    display: flex;
    padding: 7px 7px;
}

form textarea{
    height: 75px;
    width: 618px;
    margin-left:15px;

}

button {
    padding: 7px;
}

button[type="submit"] {
    margin-left: 12px;
}


.right {
    background-color: black; 
    color: white;
    box-sizing: border-box;
    width: 280px;;
}

.right h2 {
    font-size: 28px;
    margin-left: -15px;
}


.event h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: serif;
}

/* Hình ảnh sự kiện */
.event img {
    width: 280px;                     /* Co giãn full chiều rộng khung */
    height: auto;
    display: block;
    margin-bottom: 12px;
}

/* Đoạn văn mô tả */
.event p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.event a.more {
    color: #ea9696;             
    text-decoration: underline;
    margin-left: 3px;
}
